node-red/battery-room-alarm.flow.json
[
    {
        "id": "tab_battery_room_alarm",
        "type": "tab",
        "label": "Battery Room Alarm",
        "disabled": false,
        "info": "Battery-room alarm. Watches the door + 2 motion sensors and writes\nto `input_select.alarm_state`. State machine logic is duplicated from\n`dashboard/lib/alarm-fsm.js` \u2014 `scripts/check.sh` enforces they stay\nin sync.\n\nTransitions:\n  disarmed \u2192 arming (auto-arm conditions met) OR (UI sets 'arming')\n  arming \u2192 armed (after `alarm_arming_quiet_minutes` of quiet)\n  armed \u2192 triggered (door open OR motion after grace)\n  * \u2192 disarmed (UI sets 'disarmed')\n\nOutputs on transitions:\n  \u2192 triggered: siren start over MQTT, push notification to all mobile apps\n  \u2192 disarmed: siren stop over MQTT\n  always: write state, trigger reason to HA helpers"
    },
    {
        "id": "tick_1s",
        "type": "inject",
        "z": "tab_battery_room_alarm",
        "name": "tick 1s",
        "props": [
            {
                "p": "payload",
                "vt": "date"
            },
            {
                "p": "topic",
                "vt": "str",
                "v": "tick"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": true,
        "onceDelay": "3",
        "topic": "tick",
        "payload": "",
        "payloadType": "date",
        "x": 130,
        "y": 80,
        "wires": [
            [
                "fsm"
            ]
        ]
    },
    {
        "id": "trg_door",
        "type": "server-state-changed",
        "z": "tab_battery_room_alarm",
        "name": "door contact",
        "server": "",
        "version": 6,
        "outputs": 1,
        "exposeAsEntityConfig": "",
        "outputInitially": false,
        "outputOnlyOnStateChange": true,
        "outputProperties": [
            {
                "property": "topic",
                "propertyType": "msg",
                "value": "trg_door",
                "valueType": "str"
            }
        ],
        "x": 140,
        "y": 130,
        "wires": [
            [
                "fsm"
            ]
        ],
        "entities": {
            "entity": [
                "binary_sensor.battery_room_door_contact"
            ],
            "substring": [],
            "regex": []
        },
        "stateType": "str",
        "ifState": "",
        "ifStateType": "str",
        "ifStateOperator": "is",
        "ignorePrevStateNull": false,
        "ignorePrevStateUnknown": false,
        "ignorePrevStateUnavailable": false,
        "ignoreCurrentStateUnknown": false,
        "ignoreCurrentStateUnavailable": false,
        "for": "0",
        "forType": "num",
        "forUnits": "minutes"
    },
    {
        "id": "trg_motion_main",
        "type": "server-state-changed",
        "z": "tab_battery_room_alarm",
        "name": "motion main",
        "server": "",
        "version": 6,
        "outputs": 1,
        "exposeAsEntityConfig": "",
        "outputInitially": false,
        "outputOnlyOnStateChange": true,
        "outputProperties": [
            {
                "property": "topic",
                "propertyType": "msg",
                "value": "trg_motion_main",
                "valueType": "str"
            }
        ],
        "x": 140,
        "y": 180,
        "wires": [
            [
                "fsm"
            ]
        ],
        "entities": {
            "entity": [
                "binary_sensor.battery_room_motion_main_occupancy"
            ],
            "substring": [],
            "regex": []
        },
        "stateType": "str",
        "ifState": "",
        "ifStateType": "str",
        "ifStateOperator": "is",
        "ignorePrevStateNull": false,
        "ignorePrevStateUnknown": false,
        "ignorePrevStateUnavailable": false,
        "ignoreCurrentStateUnknown": false,
        "ignoreCurrentStateUnavailable": false,
        "for": "0",
        "forType": "num",
        "forUnits": "minutes"
    },
    {
        "id": "trg_motion_aux",
        "type": "server-state-changed",
        "z": "tab_battery_room_alarm",
        "name": "motion aux",
        "server": "",
        "version": 6,
        "outputs": 1,
        "exposeAsEntityConfig": "",
        "outputInitially": false,
        "outputOnlyOnStateChange": true,
        "outputProperties": [
            {
                "property": "topic",
                "propertyType": "msg",
                "value": "trg_motion_aux",
                "valueType": "str"
            }
        ],
        "x": 140,
        "y": 230,
        "wires": [
            [
                "fsm"
            ]
        ],
        "entities": {
            "entity": [
                "binary_sensor.battery_room_motion_aux_occupancy"
            ],
            "substring": [],
            "regex": []
        },
        "stateType": "str",
        "ifState": "",
        "ifStateType": "str",
        "ifStateOperator": "is",
        "ignorePrevStateNull": false,
        "ignorePrevStateUnknown": false,
        "ignorePrevStateUnavailable": false,
        "ignoreCurrentStateUnknown": false,
        "ignoreCurrentStateUnavailable": false,
        "for": "0",
        "forType": "num",
        "forUnits": "minutes"
    },
    {
        "id": "trg_state_extern",
        "type": "server-state-changed",
        "z": "tab_battery_room_alarm",
        "name": "state (manual UI write)",
        "server": "",
        "version": 6,
        "outputs": 1,
        "exposeAsEntityConfig": "",
        "outputInitially": false,
        "outputOnlyOnStateChange": true,
        "outputProperties": [
            {
                "property": "topic",
                "propertyType": "msg",
                "value": "trg_state",
                "valueType": "str"
            }
        ],
        "x": 170,
        "y": 280,
        "wires": [
            [
                "fsm"
            ]
        ],
        "entities": {
            "entity": [
                "input_select.alarm_state"
            ],
            "substring": [],
            "regex": []
        },
        "stateType": "str",
        "ifState": "",
        "ifStateType": "str",
        "ifStateOperator": "is",
        "ignorePrevStateNull": false,
        "ignorePrevStateUnknown": false,
        "ignorePrevStateUnavailable": false,
        "ignoreCurrentStateUnknown": false,
        "ignoreCurrentStateUnavailable": false,
        "for": "0",
        "forType": "num",
        "forUnits": "minutes"
    },
    {
        "id": "fsm",
        "type": "function",
        "z": "tab_battery_room_alarm",
        "name": "Alarm FSM",
        "outputs": 4,
        "func": "// === Battery-room alarm FSM ===\n// Synced from dashboard/lib/alarm-fsm.js \u2014 scripts/check.sh enforces equality.\n// SYNC-START\nfunction stepAlarm(ctx) {\n    const motion = !!(ctx.motionMain || ctx.motionAux);\n    const door = !!ctx.doorOpen;\n    let state = ctx.state || 'disarmed';\n    let stateSince = ctx.stateSince || ctx.now;\n    let triggerReason = ctx.triggerReason || '';\n    const set = (s, reason) => {\n        state = s;\n        stateSince = ctx.now;\n        if (reason !== undefined) triggerReason = reason;\n    };\n    switch (state) {\n        case 'disarmed': {\n            if (ctx.autoArmEnabled && !door && !motion) set('arming');\n            break;\n        }\n        case 'arming': {\n            if (door || motion) {\n                stateSince = ctx.now;\n                break;\n            }\n            const elapsedMs = ctx.now - stateSince;\n            const requiredMs = (ctx.armingQuietMinutes || 5) * 60 * 1000;\n            if (elapsedMs >= requiredMs) set('armed');\n            break;\n        }\n        case 'armed': {\n            const sinceArmedMs = ctx.now - stateSince;\n            const graceMs = (ctx.armingGraceSeconds || 10) * 1000;\n            if (sinceArmedMs < graceMs) break;\n            const reasons = [];\n            if (door) reasons.push('otwarcie drzwi');\n            if (ctx.motionMain) reasons.push('ruch (g\u0142\u00f3wny)');\n            if (ctx.motionAux) reasons.push('ruch (zapasowy)');\n            if (reasons.length) set('triggered', reasons.join(' \u00b7 '));\n            break;\n        }\n        case 'triggered': { break; }\n    }\n    let sirenOn = false;\n    if (state === 'triggered') {\n        const sirenMs = (ctx.sirenDurationS || 60) * 1000;\n        sirenOn = (ctx.now - stateSince) < sirenMs;\n    }\n    return { state, stateSince, sirenOn, triggerReason, transitioned: state !== (ctx.state || 'disarmed'), };\n}\n// SYNC-END\n\nconst ha = global.get('homeassistant')?.homeAssistant?.states;\nif (!ha) {\n    node.warn('HA global state unavailable \u2014 enable \"Expose to Node-RED\" in server config');\n    return null;\n}\n\nconst num = (id, def) => {\n    const s = ha[id]?.state;\n    const n = parseFloat(s);\n    return Number.isFinite(n) ? n : def;\n};\nconst isOn = (id) => ha[id]?.state === 'on';\nconst stateOf = (id) => ha[id]?.state;\n\nconst now = Date.now();\nconst persisted = flow.get('alarm_state_meta') || {};\nconst stateFromHA = stateOf('input_select.alarm_state') || 'disarmed';\n\n// If HA state diverges from our last-seen (because the user wrote it from\n// the dashboard), treat it as the new starting point and reset stateSince.\nlet stateSince = persisted.stateSince || now;\nif (persisted.lastState !== stateFromHA) {\n    stateSince = now;\n}\n\nconst ctx = {\n    now,\n    state: stateFromHA,\n    stateSince,\n    doorOpen:           isOn('binary_sensor.battery_room_door_contact'),\n    motionMain:         isOn('binary_sensor.battery_room_motion_main_occupancy'),\n    motionAux:          isOn('binary_sensor.battery_room_motion_aux_occupancy'),\n    autoArmEnabled:     isOn('input_boolean.alarm_auto_arm_enabled'),\n    armingQuietMinutes: num('input_number.alarm_arming_quiet_minutes', 5),\n    armingGraceSeconds: num('input_number.alarm_arming_grace_seconds', 10),\n    sirenDurationS:     num('input_number.alarm_siren_duration_s', 60),\n    triggerReason:      ha['input_text.alarm_trigger_reason']?.state || '',\n};\n\nconst result = stepAlarm(ctx);\nflow.set('alarm_state_meta', { lastState: result.state, stateSince: result.stateSince });\n\n// Decide what to push downstream.\nconst stateChanged = result.state !== stateFromHA;\nconst nowTriggered = stateChanged && result.state === 'triggered';\nconst leftTriggered = stateChanged && stateFromHA === 'triggered';\nconst sirenWasOn = flow.get('alarm_siren_on') === true;\nconst sirenStateChanged = result.sirenOn !== sirenWasOn;\nflow.set('alarm_siren_on', result.sirenOn);\n\nnode.status({\n    fill: result.state === 'triggered' ? 'red'\n        : result.state === 'armed' ? 'green'\n        : result.state === 'arming' ? 'yellow'\n        : 'grey',\n    shape: 'dot',\n    text: `${result.state} | door=${ctx.doorOpen?'open':'closed'} m1=${ctx.motionMain?'1':'0'} m2=${ctx.motionAux?'1':'0'} siren=${result.sirenOn?'on':'off'}`\n});\n\nconst out = [null, null, null, null];\nif (stateChanged) {\n    out[0] = { topic: 'state', payload: result.state };\n    out[1] = { topic: 'reason', payload: result.triggerReason };\n}\nif (sirenStateChanged) {\n    out[2] = result.sirenOn\n        ? { topic: 'zigbee2mqtt/battery_room_siren/set',\n            payload: JSON.stringify({ warning: { mode: 'emergency', level: 'high', duration: Math.round(ctx.sirenDurationS) } }) }\n        : { topic: 'zigbee2mqtt/battery_room_siren/set',\n            payload: JSON.stringify({ warning: { mode: 'stop' } }) };\n}\nif (nowTriggered) {\n    out[3] = { payload: { reason: result.triggerReason } };\n}\nreturn out;\n",
        "x": 430,
        "y": 200,
        "wires": [
            [
                "call_set_state"
            ],
            [
                "call_set_reason"
            ],
            [
                "mqtt_siren"
            ],
            [
                "call_notify"
            ]
        ]
    },
    {
        "id": "call_set_state",
        "type": "api-call-service",
        "z": "tab_battery_room_alarm",
        "name": "alarm_state \u2190 payload",
        "server": "",
        "version": 7,
        "domain": "input_select",
        "service": "select_option",
        "entityId": [
            "input_select.alarm_state"
        ],
        "data": "{\"option\": payload}",
        "dataType": "jsonata",
        "x": 700,
        "y": 140,
        "wires": [
            []
        ],
        "action": "input_select.select_option"
    },
    {
        "id": "call_set_reason",
        "type": "api-call-service",
        "z": "tab_battery_room_alarm",
        "name": "alarm_trigger_reason \u2190 payload",
        "server": "",
        "version": 7,
        "domain": "input_text",
        "service": "set_value",
        "entityId": [
            "input_text.alarm_trigger_reason"
        ],
        "data": "{\"value\": payload}",
        "dataType": "jsonata",
        "x": 730,
        "y": 200,
        "wires": [
            []
        ],
        "action": "input_text.set_value"
    },
    {
        "id": "mqtt_siren",
        "type": "api-call-service",
        "z": "tab_battery_room_alarm",
        "name": "siren MQTT publish",
        "server": "",
        "version": 7,
        "domain": "mqtt",
        "service": "publish",
        "data": "{\"topic\": topic, \"payload\": payload}",
        "dataType": "jsonata",
        "x": 700,
        "y": 260,
        "wires": [
            []
        ],
        "action": "mqtt.publish"
    },
    {
        "id": "call_notify",
        "type": "api-call-service",
        "z": "tab_battery_room_alarm",
        "name": "push: critical alarm",
        "server": "",
        "version": 7,
        "domain": "notify",
        "service": "notify",
        "data": "{\n  \"message\": \"Wyzwolony przez: \" & payload.reason,\n  \"title\": \"\\uD83D\\uDEA8 Alarm akumulator\u00f3w\",\n  \"data\": {\n    \"push\": { \"sound\": { \"critical\": 1, \"name\": \"default\", \"volume\": 1.0 }, \"interruption-level\": \"critical\" },\n    \"channel\": \"alarm\",\n    \"importance\": \"high\",\n    \"ttl\": 0,\n    \"priority\": \"high\",\n    \"actions\": [\n      { \"action\": \"URI\", \"title\": \"Otw\u00f3rz panel\", \"uri\": \"/local/alarm.html\" }\n    ]\n  }\n}",
        "dataType": "jsonata",
        "x": 700,
        "y": 320,
        "wires": [
            []
        ],
        "action": "notify.notify"
    }
]
