node-red/heater-control.flow.json
[
  {
    "id": "tab_heater_ctrl",
    "type": "tab",
    "label": "JK BMS Heater Control",
    "disabled": false,
    "info": "Solar-surplus water-heater control driven by the JK BMS feed.\n\nState machine: idle → probe → run → backoff.\n\n* idle    — heater off, waiting for conditions\n* probe   — heater on for `probe_seconds` to test if surplus is real\n* run     — heater on, conditions still met\n* backoff — surplus disappeared; heater off, lockout for `backoff_minutes`\n\nGuards (all must hold to leave idle):\n  • SOC ≥ input_number.heater_soc_floor\n  • Sun elevation ≥ input_number.heater_sun_elevation_min\n  • BMS reports charging with charging_power > 0\n  • BMS online\n\nDrop-out from probe / run:\n  • Sustained battery discharge > input_number.heater_discharge_threshold_w → backoff\n  • Conditions otherwise lost → idle\n\nOutput: writes input_boolean.heater_request (on/off) and input_text.heater_state\n(idle/probe/run/backoff). Wire your real heater relay to follow heater_request\nlater — flow stays unchanged.\n\nServer reference is intentionally blank — Node-RED will prompt you to select\nyour existing Home Assistant server on import.\n"
  },

  {
    "id": "inject_tick",
    "type": "inject",
    "z": "tab_heater_ctrl",
    "name": "tick 10s",
    "props": [{ "p": "payload" }, { "p": "topic", "vt": "str" }],
    "repeat": "10",
    "crontab": "",
    "once": true,
    "onceDelay": "5",
    "topic": "tick",
    "payload": "",
    "payloadType": "date",
    "x": 130,
    "y": 80,
    "wires": [["fsm"]]
  },

  {
    "id": "trg_chg_p",
    "type": "server-state-changed",
    "z": "tab_heater_ctrl",
    "name": "BMS charging power",
    "server": "",
    "version": 5,
    "outputs": 1,
    "exposeAsEntityConfig": "",
    "entityId": "sensor.jk_pb_bms_charging_power",
    "entityIdType": "exact",
    "outputInitially": false,
    "ifState": "",
    "ifStateType": "str",
    "ifStateOperator": "is",
    "outputOnlyOnStateChange": true,
    "for": "0",
    "forType": "num",
    "forUnits": "seconds",
    "ignorePrevStateNull": false,
    "ignorePrevStateUnknown": false,
    "ignorePrevStateUnavailable": false,
    "ignoreCurrentStateUnknown": false,
    "ignoreCurrentStateUnavailable": false,
    "outputProperties": [{ "property": "topic", "propertyType": "msg", "value": "trg_chg_p", "valueType": "str" }],
    "x": 150,
    "y": 130,
    "wires": [["fsm"]]
  },

  {
    "id": "trg_dchg_p",
    "type": "server-state-changed",
    "z": "tab_heater_ctrl",
    "name": "BMS discharging power",
    "server": "",
    "version": 5,
    "outputs": 1,
    "exposeAsEntityConfig": "",
    "entityId": "sensor.jk_pb_bms_discharging_power",
    "entityIdType": "exact",
    "outputInitially": false,
    "ifState": "",
    "ifStateType": "str",
    "ifStateOperator": "is",
    "outputOnlyOnStateChange": true,
    "for": "0",
    "forType": "num",
    "forUnits": "seconds",
    "outputProperties": [{ "property": "topic", "propertyType": "msg", "value": "trg_dchg_p", "valueType": "str" }],
    "x": 160,
    "y": 180,
    "wires": [["fsm"]]
  },

  {
    "id": "trg_soc",
    "type": "server-state-changed",
    "z": "tab_heater_ctrl",
    "name": "BMS SOC",
    "server": "",
    "version": 5,
    "outputs": 1,
    "exposeAsEntityConfig": "",
    "entityId": "sensor.jk_pb_bms_state_of_charge",
    "entityIdType": "exact",
    "outputInitially": false,
    "ifState": "",
    "ifStateType": "str",
    "ifStateOperator": "is",
    "outputOnlyOnStateChange": true,
    "for": "0",
    "forType": "num",
    "forUnits": "seconds",
    "outputProperties": [{ "property": "topic", "propertyType": "msg", "value": "trg_soc", "valueType": "str" }],
    "x": 130,
    "y": 230,
    "wires": [["fsm"]]
  },

  {
    "id": "trg_sun",
    "type": "server-state-changed",
    "z": "tab_heater_ctrl",
    "name": "Sun",
    "server": "",
    "version": 5,
    "outputs": 1,
    "exposeAsEntityConfig": "",
    "entityId": "sun.sun",
    "entityIdType": "exact",
    "outputInitially": false,
    "ifState": "",
    "ifStateType": "str",
    "ifStateOperator": "is",
    "outputOnlyOnStateChange": false,
    "for": "0",
    "forType": "num",
    "forUnits": "seconds",
    "outputProperties": [{ "property": "topic", "propertyType": "msg", "value": "trg_sun", "valueType": "str" }],
    "x": 110,
    "y": 280,
    "wires": [["fsm"]]
  },

  {
    "id": "trg_online",
    "type": "server-state-changed",
    "z": "tab_heater_ctrl",
    "name": "BMS online",
    "server": "",
    "version": 5,
    "outputs": 1,
    "exposeAsEntityConfig": "",
    "entityId": "binary_sensor.jk_pb_bms_online_status",
    "entityIdType": "exact",
    "outputInitially": false,
    "ifState": "",
    "ifStateType": "str",
    "ifStateOperator": "is",
    "outputOnlyOnStateChange": true,
    "for": "0",
    "forType": "num",
    "forUnits": "seconds",
    "outputProperties": [{ "property": "topic", "propertyType": "msg", "value": "trg_online", "valueType": "str" }],
    "x": 130,
    "y": 330,
    "wires": [["fsm"]]
  },

  {
    "id": "fsm",
    "type": "function",
    "z": "tab_heater_ctrl",
    "name": "Heater FSM",
    "func": "// Solar-surplus heater FSM. Reads HA state from the global context populated\n// by node-red-contrib-home-assistant-websocket. Pure function over current HA\n// state + flow-context FSM state.\n\nconst ha = global.get('homeassistant')?.homeAssistant?.states;\nif (!ha) {\n    node.warn('HA global state unavailable. In server config, enable \"Include in Home Assistant\"/\"Expose to Node-RED\" so global.homeassistant is populated.');\n    return null;\n}\n\nconst num = (id, def) => {\n    const s = ha[id]?.state;\n    const n = parseFloat(s);\n    return isNaN(n) ? def : n;\n};\nconst isOn = (id) => ha[id]?.state === 'on';\nconst attrNum = (id, key, def) => {\n    const v = ha[id]?.attributes?.[key];\n    const n = parseFloat(v);\n    return isNaN(n) ? def : n;\n};\n\n// --- BMS / environment ---\nconst soc = num('sensor.jk_pb_bms_state_of_charge', NaN);\nconst chgP = num('sensor.jk_pb_bms_charging_power', 0);\nconst dchgP = num('sensor.jk_pb_bms_discharging_power', 0);\nconst charging = isOn('binary_sensor.jk_pb_bms_charging');\nconst discharging = isOn('binary_sensor.jk_pb_bms_discharging');\nconst online = isOn('binary_sensor.jk_pb_bms_online_status');\nconst sunElev = attrNum('sun.sun', 'elevation', -90);\n\n// --- Tunables (HA helpers) ---\nconst socFloor = num('input_number.heater_soc_floor', 85);\nconst sunMin = num('input_number.heater_sun_elevation_min', 15);\nconst probeSec = num('input_number.heater_probe_seconds', 30);\nconst backoffMin = num('input_number.heater_backoff_minutes', 5);\nconst dischgTh = num('input_number.heater_discharge_threshold_w', 50);\n\n// --- FSM state ---\nconst now = Date.now();\nlet state = flow.get('heater_state') || 'idle';\nlet since = flow.get('heater_state_since') || now;\n\nconst setState = (s) => {\n    if (state !== s) {\n        node.log(`heater FSM: ${state} -> ${s} | soc=${soc}% chgP=${chgP}W dchgP=${dchgP}W sunElev=${sunElev.toFixed(1)}°`);\n        state = s;\n        since = now;\n    }\n};\n\nconst sunOK = sunElev >= sunMin;\nconst socOK = !isNaN(soc) && soc >= socFloor;\nconst heavyDraw = discharging && dchgP > dischgTh;\n\nif (!online) {\n    // BMS link lost — drop heater, idle\n    setState('idle');\n} else {\n    switch (state) {\n        case 'idle':\n            if (sunOK && socOK && charging && chgP > 0) setState('probe');\n            break;\n        case 'probe':\n            if (!sunOK || !socOK) setState('idle');\n            else if (heavyDraw) setState('backoff');\n            else if (now - since >= probeSec * 1000) setState('run');\n            break;\n        case 'run':\n            if (!sunOK || !socOK) setState('idle');\n            else if (heavyDraw) setState('backoff');\n            break;\n        case 'backoff':\n            if (now - since >= backoffMin * 60 * 1000) setState('idle');\n            break;\n        default:\n            setState('idle');\n    }\n}\n\nflow.set('heater_state', state);\nflow.set('heater_state_since', since);\n\nconst wantOn = (state === 'probe' || state === 'run');\n\nnode.status({\n    fill: state === 'run' ? 'green' : state === 'probe' ? 'yellow' : state === 'backoff' ? 'red' : 'grey',\n    shape: 'dot',\n    text: `${state} | soc=${isNaN(soc) ? '?' : soc + '%'} chg=${chgP}W dchg=${dchgP}W sun=${sunElev.toFixed(0)}°`\n});\n\nreturn [\n    { topic: 'heater', payload: wantOn ? 'on' : 'off' },\n    { topic: 'state', payload: state }\n];\n",
    "outputs": 2,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 430,
    "y": 200,
    "wires": [["sw_action"], ["call_state_set"]]
  },

  {
    "id": "sw_action",
    "type": "switch",
    "z": "tab_heater_ctrl",
    "name": "on/off",
    "property": "payload",
    "propertyType": "msg",
    "rules": [
      { "t": "eq", "v": "on", "vt": "str" },
      { "t": "eq", "v": "off", "vt": "str" }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 2,
    "x": 590,
    "y": 180,
    "wires": [["call_heater_on"], ["call_heater_off"]]
  },

  {
    "id": "call_heater_on",
    "type": "api-call-service",
    "z": "tab_heater_ctrl",
    "name": "heater_request → on",
    "server": "",
    "version": 7,
    "debugenabled": false,
    "domain": "input_boolean",
    "service": "turn_on",
    "areaId": [],
    "deviceId": [],
    "entityId": ["input_boolean.heater_request"],
    "labelId": [],
    "floorId": [],
    "data": "",
    "dataType": "jsonata",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "blockInputOverrides": true,
    "x": 800,
    "y": 150,
    "wires": [[]]
  },

  {
    "id": "call_heater_off",
    "type": "api-call-service",
    "z": "tab_heater_ctrl",
    "name": "heater_request → off",
    "server": "",
    "version": 7,
    "debugenabled": false,
    "domain": "input_boolean",
    "service": "turn_off",
    "areaId": [],
    "deviceId": [],
    "entityId": ["input_boolean.heater_request"],
    "labelId": [],
    "floorId": [],
    "data": "",
    "dataType": "jsonata",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "blockInputOverrides": true,
    "x": 800,
    "y": 210,
    "wires": [[]]
  },

  {
    "id": "call_state_set",
    "type": "api-call-service",
    "z": "tab_heater_ctrl",
    "name": "heater_state ← payload",
    "server": "",
    "version": 7,
    "debugenabled": false,
    "domain": "input_text",
    "service": "set_value",
    "areaId": [],
    "deviceId": [],
    "entityId": ["input_text.heater_state"],
    "labelId": [],
    "floorId": [],
    "data": "{\"value\": payload}",
    "dataType": "jsonata",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "blockInputOverrides": false,
    "x": 670,
    "y": 290,
    "wires": [[]]
  }
]
